<div class="product-card">
  <a href="{{ card_product.url | within: collection }}" class="product-card__image-wrapper">
    <img
      src="{{ card_product.featured_media | image_url: width: 550 }}"
      alt="{{ card_product.featured_media.alt | escape }}"
      class="product-card__image"
      loading="lazy"
      width="550"
      height="550"
    >
  </a>
  <div class="product-card__info">
    <div>
      <a href="{{ card_product.url | within: collection }}" class="product-card__title">
        {{ card_product.title }}
      </a>
      <div class="product-card__price">
        {% render 'price', product: card_product %}
      </div>
    </div>
    <div class="product-card__add-to-cart">
      {%- if card_product.available -%}
        <form method="post" action="/cart/add" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form">
          <input type="hidden" name="form_type" value="product">
          <input type="hidden" name="utf8" value="✓">
          <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}">
          <button type="submit" name="add" class="button button--full">
            Add to cart
          </button>
        </form>
      {%- else -%}
        <button type="button" class="button button--full" disabled>
          Sold out
        </button>
      {%- endif -%}
    </div>
  </div>
</div>
